#Contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  overflow: scroll;
}

#Contact-phone {
  font-family: var(--defaultFont);
  font-size: 25px;
}

#Contact-social {
  width: 50%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

#Contact-email {
  font-family: var(--defaultFont);
  font-size: 25px;
}

#Contact-email a {
  color: white;
  text-decoration: underline;
}

#Contact-email a:hover {
  color: maroon;
  text-decoration: underline;
}

.socialIcon {
  color: white;
}

.socialIcon:hover {
  color: maroon;
}

#Contact-container p {
  margin: 10px;
  padding: 0;
  text-align: center;
}

/* Larger Smartphone Compatibility */
@media only screen and (min-device-width: 376px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 3) {
  .socialIcon {
    color: maroon;
  }

  #Contact-social {
    width: 80%;
  }

  #Contact-email a {
    color: maroon;
  }

  #Contact-container p {
    font-size: 26px;
    margin-bottom: 0;
  }
}

/* Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .socialIcon {
    color: maroon;
  }

  #Contact-social {
    width: 80%;
  }

  #Contact-email a {
    color: maroon;
  }
  #Contact-container p {
    font-size: 24px;
    margin-bottom: 0;
  }
}

/* Even Smaller Smartphone Capability */
@media only screen and (min-device-width: 0px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .socialIcon {
    color: maroon;
  }

  #Contact-social {
    width: 80%;
  }

  #Contact-email a {
    color: maroon;
  }

  #Contact-container p {
    font-size: 20px;
    margin-bottom: 0;
  }
}

/* Standard Size Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  .socialIcon {
    color: maroon;
  }

  #Contact-phone {
    font-size: 45px;
  }

  #Contact-email {
    font-size: 40px;
  }

  #Contact-email a {
    color: maroon;
  }
}
