.Portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Portfolio-header h2 {
  margin: 5px;
  font-family: var(--defaultFont);
  color: maroon;
}

.Portfolio-header h4 {
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

#Portfolio-domProjects {
  width: 75%;
}

#Portfolio-reactProjects {
  width: 75%;
}
