#Portfolio-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0 20px 0;
}

.Portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Portfolio-header h2 {
  margin: 5px;
  font-family: var(--defaultFont);
  color: maroon;
  text-decoration: underline;
}

.Portfolio-header h2:hover {
  cursor: default;
}

.Portfolio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: fit-content;
  margin: 10px 0 10px 0;
}

/* Larger Smartphone Compatibility */
@media only screen and (min-device-width: 376px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Portfolio-header h2 {
    font-size: 20px;
  }

  .Portfolio-row {
    width: 95%;
    justify-content: space-between;
  }
}

/* Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portfolio-header h2 {
    font-size: 18px;
  }
  .Portfolio-row {
    width: 95%;
    justify-content: space-between;
  }
}

/* Even Smaller Smartphone Capability */
@media only screen and (min-device-width: 0px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portfolio-header h2 {
    font-size: 16px;
  }
  .Portfolio-row {
    width: 95%;
    justify-content: space-between;
  }
}

/* Standard Size Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portfolio-header h2 {
    font-size: 24px;
  }

  .Portfolio-row {
    width: 100%;
  }
}
