#Portfolio-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0 20px 0;
}

.Portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Portfolio-header h2 {
  margin: 5px;
  font-family: var(--defaultFont);
  color: maroon;
  text-decoration: underline;
}

.Portfolio-header h2:hover {
  cursor: default;
}

.Portfolio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: fit-content;
  margin: 10px 0 10px 0;
}
