.Resume-tabSpace {
  height: 100%;
  width: 100%;
}

.Resume-tabSpace ul {
  margin: 10px;
}

#Resume-container {
  width: 90%;
  height: 95%;
  margin: 20px 0 20px 0;
  overflow: scroll;
}

.sectionHeader {
  text-decoration: underline;
  margin: 0;
}

.buttonContainer {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
}

#reduxLogo {
  width: 100%;
  height: 100%;
  background-image: url(../img/redux.png);
  background-size: contain;
  background-position: center;
}

h4 {
  margin: 3px;
}

/* Larger Smartphone Compatibility */
@media only screen and (min-device-width: 376px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Entire Resume section*/
  #App-container div.ui.grid {
    flex-direction: column;
    align-items: center;
  }

  /* Tab Navigation column */
  #App-container div.four.wide.column {
    width: 100% !important;
    padding-bottom: 0;
  }

  /* Nav Tab Group */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu {
    display: flex;
    flex-direction: row;
  }

  /* Individual Nav Tabs */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu
    > a.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
  }

  /* Main Resume Column Container */
  #Resume-container > div > div > div.stretched.twelve.wide.column {
    width: 100% !important;
  }

  /* Main Resume Section */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div {
    border-radius: 5px;
  }

  /* Bulleted List */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div ul {
    margin: 0;
    padding: 0px 0px 10px 30px;
  }

  /* List Header */
  h3.sectionHeader {
    font-size: 16px;
  }

  /* List sub-header */
  #Resume-container h4 {
    font-size: 14px;
  }
}

/* Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Entire Resume section*/
  #App-container div.ui.grid {
    flex-direction: column;
    align-items: center;
  }

  /* Tab Navigation column */
  #App-container div.four.wide.column {
    width: 100% !important;
    padding-bottom: 0;
  }

  /* Nav Tab Group */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu {
    display: flex;
    flex-direction: row;
  }

  /* Individual Nav Tabs */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu
    > a.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
  }

  /* Main Resume Column Container */
  #Resume-container > div > div > div.stretched.twelve.wide.column {
    width: 100% !important;
  }

  /* Main Resume Section */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div {
    border-radius: 5px;
  }

  /* Bulleted List */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div ul {
    margin: 0;
    padding: 0px 0px 10px 30px;
  }

  /* List Header */
  h3.sectionHeader {
    font-size: 14px;
  }

  /* List sub-header */
  #Resume-container h4 {
    font-size: 12px;
  }
}

/* Even Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 0px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Entire Resume section*/
  #App-container div.ui.grid {
    flex-direction: column;
    align-items: center;
  }

  /* Tab Navigation column */
  #App-container div.four.wide.column {
    width: 100% !important;
    padding-bottom: 0;
  }

  /* Nav Tab Group */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu {
    display: flex;
    flex-direction: row;
  }

  /* Individual Nav Tabs */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu
    > a.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
  }

  /* Main Resume Column Container */
  #Resume-container > div > div > div.stretched.twelve.wide.column {
    width: 100% !important;
  }

  /* Main Resume Section */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div {
    border-radius: 5px;
  }

  /* Bulleted List */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div ul {
    margin: 0;
    padding: 0px 0px 10px 30px;
  }

  /* List Header */
  h3.sectionHeader {
    font-size: 12px;
  }

  /* List Sub-Header */
  #Resume-container h4 {
    font-size: 10px;
  }
}

/* Standard Size Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Individual Nav Tabs */
  #Resume-container
    > div
    > div
    > div.four.wide.column
    > div.ui.fluid.vertical.menu
    > a.item {
    font-size: 18px;
  }

  /* List Header */
  h3.sectionHeader {
    font-size: 22px;
  }

  /* List Sub-Header */
  #Resume-container h4 {
    font-size: 18px;
  }

  /* Bulleted List */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div ul {
    font-size: 18px;
    margin: 10px 0 10px 0;
  }

  /* Bulleted List Item */
  #Resume-container > div > div > div.stretched.twelve.wide.column > div ul li {
    margin: 10px;
  }
}
