#Navbar-container {
  height: 5%;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.Navbar-selection {
  padding: 0 0 5px 0;
}

.Navbar-selection a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: var(--defaultFont);
  font-size: 20px;
  text-shadow: 1px 1px 0 black;
}

.Navbar-selection:hover {
  cursor: pointer;
  padding: 0;
  border-bottom: 5px solid rgb(160, 0, 0);
}

.selected {
  padding: 0;
  border-bottom: 5px solid rgb(160, 0, 0);
}

/* Larger Smartphone Compatibility */
@media only screen and (min-device-width: 376px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Navbar-selection a {
    font-size: 18px;
  }
}

/* Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 0px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .Navbar-selection a {
    font-size: 14px;
  }
}
