.Portcard {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.Portcard-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.Portcard a {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
  font-family: var(--defaultFont);
  margin: 5px;
  font-weight: bold;
}

.Portcard a:hover {
  cursor: pointer;
}

/* Larger Smartphone Compatibility */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Portcard {
    justify-content: flex-start;
    width: 48%;
  }

  .Portcard-image {
    height: 100px;
  }
  .Portcard a {
    font-size: 14px;
    text-align: center;
  }
}

/* Smaller Smartphone Compatibility */
@media only screen and (min-device-width: 321px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portcard {
    justify-content: flex-start;
    width: 48%;
  }

  .Portcard-image {
    height: 90px;
  }
  .Portcard a {
    font-size: 14px;
    text-align: center;
  }
}

/* Even Smaller Smartphone Capability */
@media only screen and (min-device-width: 0px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portcard {
    justify-content: flex-start;
    width: 48%;
  }

  .Portcard-image {
    height: 75px;
  }
  .Portcard a {
    font-size: 14px;
    text-align: center;
  }
}

/* Standard Size Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .Portcard {
    width: 45%;
  }
}
